<div class="sticky-header">

    <div class="group-header">
        <div class="apps-header flex-grow-1 flex">
            <label for="apps-filter" class="icon icon-search">Search apps</label>

            {{input placeholder="Search Existing Users" class="ember-view form-control filter mousetrap"
                   id="apps-filter" key-up="query" value=searchEmail}}

            <div class="ember-view feature-container feature-is-disabled"></div>

        </div>

        <div class="pull-right">

            {{#simple-modal-dialog
            button-title='New user'
            modal-title='New user'
            save-button-title='Save'
            save-action='createUser'}}
                <label for="e-mail-address">Email</label>

                <div class="form-group">
                    {{input class="form-control new-collaborator-email" value=userObject.email placeholder="user@domain.com"}}
                </div>
                <label for="password">Password</label>

                <div class="form-group">
                    {{input class="form-control new-collaborator-email" type="password" value=userObject.password placeholder="*********"}}
                </div>
                <div>
                    <label>
                        {{input type="checkbox" checked=userObject.enabled}}
                        Enabled
                    </label>
                </div>
                <div>
                    <label>
                        {{input type="checkbox" checked=userObject.isAdmin}}
                        Admin
                    </label>
                </div>
                <div>
                    <label>
                        {{input type="checkbox" checked=userObject.accountExpired}}
                        Account expired
                    </label>
                </div>
                <div>
                    <label>
                        {{input type="checkbox" checked=userObject.accountLocked}}
                        Account locked
                    </label>
                </div>
                <div>
                    <label>
                        {{input type="checkbox" checked=userObject.passwordExpired}}
                        Password expired
                    </label>
                </div>

            {{/simple-modal-dialog}}

        </div>
    </div>

    <div class="editable-table-component table-responsive">
        <form>
            <table class="table editable-list domain-list">
                <tbody>

                {{#each model as |user|}}
                    <tr class="collaborator-item">

                        <td class="collaborator-info show-role ">
                            <div class="email">{{user.email}}</div>
                        </td>

                        <td class="action-cell">

                            {{#simple-modal-dialog
                            button-title='New user'
                            modal-title='New user'
                            icon='icon-edit'
                            param=user
                            save-button-title='Update'
                            save-action='updateUser'
                            rollback-action='cancelUpdateUser'}}
                                <label for="e-mail-address">Email</label>

                                <div class="form-group">
                                    {{input class="form-control new-collaborator-email" value=user.email placeholder="user@domain.com" disabled=true}}
                                </div>
                                <label for="password">Password</label>

                                <div class="form-group">
                                    {{input class="form-control new-collaborator-email" type="password" value=user.password placeholder="*********"}}
                                </div>
                                <div>
                                    <label>
                                        {{input type="checkbox" checked=user.enabled}}
                                        Enabled
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        {{input type="checkbox" checked=user.isAdmin}}
                                        Admin
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        {{input type="checkbox" checked=user.accountExpired}}
                                        Account expired
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        {{input type="checkbox" checked=user.accountLocked}}
                                        Account locked
                                    </label>
                                </div>
                                <div>
                                    <label>
                                        {{input type="checkbox" checked=user.passwordExpired}}
                                        Password expired
                                    </label>
                                </div>

                            {{/simple-modal-dialog}}

                        </td>

                        <td class="action-cell">

                            {{#simple-modal-confirm-dialog
                            modal-title='Delete user'
                            record-name=user.email
                            confirm-action-param=user.id
                            confirm-action='deleteUser'
                            confirm-button-title='Delete user ...'}}
                                <p>Deleting user is irreversible. Enter user name
                                    below to confirm you want to permanently delete it:</p>
                                {{input class="form-control" autofocus="true" value=confirmEmail placeholder=user.email}}
                            {{/simple-modal-confirm-dialog}}
                        </td>
                    </tr>
                {{/each}}

                </tbody>

            </table>

        </form>
    </div>

</div>
