{{#if show}}
    {{#modal-dialog close="rollback" targetAttachment="center" translucentOverlay=true}}
        <div class="modal-box">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button type="button" class="close" {{action "rollback"}}>
                        ×
                    </button>
                    <h4 class="modal-title">{{modal-title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="collaborator-edit">
                        <div class="row">
                            <div class="col-sm-12">
                                {{yield}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="async-button default btn btn-primary" {{action "save"}}>
                    {{save-button-title}}
                </button>
            </div>
        </div>
    {{/modal-dialog}}
{{/if}}

{{#if icon}}
    <button class="btn-link remove-item" {{action "toggleModal"}} type="button">
        <i class="icon {{icon}}"></i>
    </button>
{{else}}
    <button class="btn btn-default pull-right add-button" {{action "toggleModal"}} type="button">
        {{button-title}}
    </button>
{{/if}}
