{{#if show}}
    {{#modal-dialog close="toggleModal" targetAttachment="center" translucentOverlay=true}}
        <div class="modal-box">
            <div class="modal-content">
                <div class="modal-header clearfix">
                    <button type="button" class="close" {{action "toggleModal"}}>
                        ×
                    </button>
                    <h4 class="modal-title">{{modal-title}}</h4>
                </div>
                <div class="modal-body">
                    <div class="collaborator-edit">
                        <div class="row">
                            <div class="col-sm-12">
                                <label for="e-mail-address">Number</label>

                                <div class="form-group">
                                    <input class="form-control new-collaborator-email"
                                           placeholder="+380931326201"
                                           type="email"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="async-button default btn btn-primary" type="submit">
                    {{save-button-title}}
                </button>
            </div>
        </div>
    {{/modal-dialog}}
{{/if}}

<button class="btn btn-default pull-right add-button" {{action "toggleModal"}} type="button">
    {{button-title}}
</button>
