<div class="sidebar-container property-switcher fixed-top allow-if-delinquent">
    <a href="/"><i class="icon icon-logo dashboard-logo"></i>
        <h4 class="dashboard-logo-text">{{dashboardTitle}}</h4>
    </a>

    <div class="navigator-toggle icon icon-navigator-toggle" {{action 'open'}} ></div>

    <div id="property-navigator" class="dropdown-menu">

        <ul>
            {{#each workspaces as |workspace|}}
                {{#if (not-eq active-workspace.workspace workspace)}}
                    <li class="active">
                        <a {{action 'activateWorkspace' workspace}}>
                            <i class="icon icon-property-dashboard-active"></i>
                            <span class="icon-label">{{workspace.title}}</span>
                        </a>
                    </li>
                {{/if}}
            {{/each}}
            <li class="active">
                <a {{action 'signOut'}}>
                    <i class="icon icon-property-dashboard-active"></i>
                    <span class="icon-label">Sign-out</span>
                </a>
            </li>

        </ul>

    </div>

</div>