<div class="nav nav-tabs sub-nav app-nav">
    {{sub-nav-item title='PBX' url='dashboard.numbers'}}
</div>

<div class="sticky-header">
    <div class="group-header">
        <h5>Numbers</h5>

        {{#simple-modal-dialog
        button-title='Buy number'
        modal-title='Buy number'
        save-button-title='Buy'
        save-action='buyNumber'}}
            <label for="e-mail-address">Available numbers</label>

            <div class="form-group">
                {{view "select" class="ember-select form-control"
                content=availableNumbers
                optionLabelPath="content.upid"
                value=selectedNumber
                }}
            </div>

            <label for="password">Forward to</label>

            <div class="form-group">
                {{input class="form-control new-collaborator-email" value=selectedNumber.forwardTo placeholder="+994551326201"}}
            </div>

        {{/simple-modal-dialog}}

    </div>

    <div class="editable-table-component table-responsive">
        <form>
            <table class="table editable-list domain-list">
                <tbody>
                {{#each myNumbers as |number|}}
                    <tr class="collaborator-item editable-item item-persisted">
                        <td>
                            {{number.upid}}
                        </td>

                        <td>
                            {{#if  number.forwardTo}}
                                forwards to {{number.forwardTo}}
                            {{/if}}
                        </td>

                        <td class="action-cell">

                            {{#simple-modal-dialog
                            button-title='update forwarding'
                            modal-title='Update forwarding'
                            save-button-title='Update'
                            save-action='updateNumber'
                            rollback-action='cancelUpdateNumber'
                            icon='icon-edit'
                            param=number}}
                                <label for="e-mail-address">Number</label>

                                <div class="form-group">
                                    {{input class="form-control new-collaborator-email" value=number.upid disabled=true}}
                                </div>
                                <label for="password">Forward to</label>

                                <div class="form-group">
                                    {{input class="form-control new-collaborator-email" value=number.forwardTo placeholder="+994551326201"}}
                                </div>

                            {{/simple-modal-dialog}}

                        </td>
                        <td class="action-cell">
                            <button type="button" class="btn-link remove-item" {{action 'releaseNumber' number}}>
                                <i class="icon icon-delete"></i>
                            </button>
                        </td>

                    </tr>
                {{/each}}
                </tbody>

            </table>

        </form>
    </div>

</div>