{{menu-head title=active-workspace.workspace.title}}
<div class="main-content">
    <div class="nav nav-tabs sub-nav app-nav">
        {{sub-nav-item title='Calls' url='dashboard.reports.report-one'}}
        {{sub-nav-item title='Campaigns' url='dashboard.reports.report-two'}}
        {{sub-nav-item title='Report Three' url='dashboard.reports.report-three'}}
    </div>

    {{outlet}}
</div>