{{#main-layout activeWorkspaceTitle=activeWorkspaceTitle}}

    {{workspace-control dashboardTitle='Dashboard' workspaces=model.workspaces}}

    {{site-control availableSites=availableSites}}

    <div class="sidebar-container scrollable-content">
        {{#nav-group title='Application'}}
            {{nav-item title='Reports' url='dashboard.reports'}}
            {{nav-item title='Analytics' url='dashboard.analytics.adsources'}}
        {{/nav-group}}
        {{#nav-group title='Services'}}
            {{nav-item title='PBX' url='dashboard.numbers'}}
        {{/nav-group}}
        {{#nav-group title='Settings'}}
            {{nav-item title='Sites' url='dashboard.sites'}}
            {{nav-item title='Workspaces' url='dashboard.workspaces.all'}}
        {{/nav-group}}
    </div>
    
{{/main-layout}}