<div class="sticky-header">
    <div class="group-header">
        <h5>Ad Sources</h5>

        {{#simple-modal-dialog
        button-title='Add ad source'
        modal-title='Add advertisement source'
        save-button-title='Save'
        save-action='addAdsource'}}
            <label for="password">Name</label>

            <div class="form-group">
                {{input class="form-control new-collaborator-email" value=adsourceName placeholder="dobromed.ru"}}
            </div>

            <label for="password">Type</label>
            <div class="form-group">
                {{view "select" class="ember-select form-control"
                    content=availableTypes
                    optionValuePath="content.id"
                    optionLabelPath="content.title"
                    value=adsourceType
                }}
            </div>

        {{/simple-modal-dialog}}

    </div>

    <div class="editable-table-component table-responsive">
        <form>
            <table class="table editable-list domain-list">
                <tbody>
                {{#each myAdsources as |adsource|}}
                    <tr class="collaborator-item editable-item item-persisted">
                        <td>
                        {{#link-to 'dashboard.analytics.adsources.adsource' adsource.id class="sidebar-nav-heading org"}}
                            {{adsource.name}}
                        {{/link-to}}
                        </td>

                        <td>
                            {{adsource.type}}
                        </td>

                        <td>
                            {{#each adsource.numbers as |number|}}
                                {{number.upid}}
                            {{/each}}
                        </td>

                        <td class="action-cell">
                            <button type="button" class="btn-link remove-item" {{action 'removeAdsource' adsource}}>
                                <i class="icon icon-delete"></i>
                            </button>
                        </td>

                    </tr>
                {{/each}}
                </tbody>

            </table>

        </form>
    </div>

</div>