<div class="sticky-header">

    <div class="editable-table-component table-responsive" >
            <ul class="list-group list-group-lg">
            <li class="ember-view list-group-item"><div class="panel-section  ">
                <div class="panel-description">
                    <div class="panel-title">
                        Name
                    </div>

                </div>

                <div class="panel-content">
                    <form role="form" class="app-rename edit-first">
                        <div class="form-group">
                            {{input type="text" class="ember-text-field form-control" action="renameEnable" on="key-press" value=model.title}}
                        </div>

                        <div class="form-group">
                            <button {{action "renameWorkspace" model.title model.id}} class="btn btn-primary" disabled={{renameDisabled}}>Save</button>
                        </div>
                    </form>

                </div>
            </div>
            </li>
            <li class="ember-view list-group-item"><div class="panel-section  ">
                <div class="panel-description">
                    <div class="panel-title">
                        Info
                    </div>

                </div>

                <div class="panel-content">
                    <div class="ember-view">
                        <dl class="dl-horizontal">
                            <dt>Region</dt>
                            <dd class="region">
                                <i class="icon region-icon icon-region-eu"></i>
                                Az
                            </dd>
                        <dt>Sites</dt>
                        <dd>{{model.sitesCount}}</dd>
                        <dt>Numbers</dt>
                        <dd>{{model.numbersCount}}</dd>
                        <dt>Ad Sources</dt>
                        <dd>{{model.adSourcesCount}}</dd>
                        <dt>Campaigns</dt>
                        <dd>{{model.campaignsCount}}</dd>
                    </dl>
                    </div>

                </div>
            </div>
            </li>
            <li class="ember-view list-group-item"><div class="panel-section  ">
                    <div class="panel-description">
                        <div class="panel-title">
                            Access
                        </div>

                    </div>

                <div class="panel-content">
                    <p class="ember-view branch-selection">
                        {{input type="text" value=newContributor}}
                        <button {{action "addContributor" newContributor model.id}}  class="btn btn-sm btn-default edit-button edit-button" type="button">
                            Add contributor
                        </button>
                    </p>

                    <div class="ember-view domain-table">
                        <form>
                            <table class="table">
                                <tbody>
                                    {{#each model.contributors as |contributor|}}
                                        <tr>
                                            <th class="domain-list__content-column">{{contributor}}</th>
                                            <th>
                                                <button {{action "removeContributor" contributor model.id}} class="btn btn-default btn-github btn-xs">
                                                    x
                                                </button>
                                            </th>
                                        </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </form>
                    </div>

                </div>

                </div>
            </li>
            <li class="ember-view list-group-item"><div class="panel-section app-transfer ">
                <div class="panel-description">
                    <div class="panel-title">
                        Transfer Ownership
                    </div>

                    <div class="panel-details">
                        Transfer this workspace to your personal account or to an organization of which you are a member.
                    </div>
                </div>

                <div class="panel-content">
                    <div class="edit-first">
                        <p>
                            <select class="ember-view ember-select form-control">
                                <option value="">Select a new owner…</option>
                                <optgroup label="Collaborators">
                                {{#each model.contributors as |contributor index|}}
                                    <option value="{{index}}">
                                        {{contributor}}
                                    </option>
                                {{/each}}
                                </optgroup>
                            </select>
                        </p>

                        <p>
                            <button class="ember-view btn btn-primary btn create-transfer" value="Transfer" disabled="">Transfer</button>
                        </p>
                    </div>

                </div>
            </div>
            </li>
            <li class="ember-view list-group-item"><div class="panel-section danger app-deletion ">
                <div class="panel-description">
                    <div class="panel-title">
                        Delete workspace
                    </div>
                    <div class="panel-details">
                        Deleting your workspace and its add-ons is irreversible.
                    </div>
                </div>

                <div class="panel-content">
                    <p>
                        <button {{action 'deleteWorkspace' model.id}} class="ember-view btn btn-danger delete-app" value="Delete workspace...">Delete workspace...</button>
                    </p>

                </div>
            </div>
            </li></ul>
    </div>

</div>
